header {
	min-height: 50px;
}
.logotyp {
	display: block;
	padding: 30px 0 30px 50px;
	background-color: $background_color_1;
	a {
		text-decoration: none;
	}
}
.root__slider {
	width: 100%;
	height: 365px;
	background-image: url(../img/image.jpg);
	background-size: cover;
	background-position: center;
}
.root__menu_top {
	display: flex;
	justify-content: flex-start;
	background: rgba(71,74,81,0.5);
	list-style: none;
	a {
		text-decoration: none;	
	}
}
.home {
	margin-left: 30px;
}
.menu__item {
	padding: 15px 15px;
	display: inline-block;
	height: 100%;
	&:hover {
		background-color: $background_color_2;
	}
}
.contacts {
	padding: 15px 15px 15px 15px;
}
.slider__text_top {
	position: absolute;
	top: 332px;
	right: 64px;
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 1542px;
	width: 100%;
	margin: 0 auto;
}
.team__title {
	margin: 125px 0 52px 0;
	text-align: center;
}
.team__description {
	padding: 0 180px 0 180px;
	text-align: center;
}
.team__items-block {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-top: 55px;
}
.team__item {
	display: flex;
	flex-direction: column;
}
.item__img {
	width: 100%;
	display: flex;
	justify-content: space-around;
	img {
		width: 213px;
		height: 267px;
	}
}
.item__title {
	text-align: center;
}
.item__desc {
	justify-content: space-around;
	padding: 10px;
	text-align: center;
	height: 128px;
	width: 225px;
}
.line__menu {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	height: 136px;
	padding-top: 10px;
	background: #0B3B2E;
	position: relative;
	bottom: 0;
	width: 100%;
}
.menu__itemm {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	p {
		border-bottom: 0.7px solid #d5dddf;
	}
	a {
		text-decoration: none;
		
	}
}
.line__copyright {
	display: flex;
	box-sizing: border-box;
	padding: 0;
	height: 59px;
	background: #071910;
}
.copyright__social {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	right: 0;
	img {
		padding: 10px 10px;
		height: 35px;
		width: 35px;
	}
}
.copyright__text {
	text-align: center;
	padding: 15px 15px;
}