$color_1: #F48F1D;
$color_2: black;
$color_3: white;
$color_4: #B40404;
$color_5: #B45F04;
$color_6: #F7FE2E;
$color_7: #E0F8E6;
$background_color_1: #ffffff;
$background_color_2: rgba(100,80,75, 0.7);