$color_1: #F48F1D;
$color_2: #d7794a;
$color_3: #ffffff;
$color_4: black;
$color_5: #B40404;
$color_6: #a95e39;
$color_7: #d2d3d7;
$color_8: #F7FE2E;
$color_9: #E0F8E6;
$color_10: #9a5437;
$color_11: white;
$color_12: #999797;
$font_family_1: 'PT Sans', sans-serif;
$font_family_2: 'Libre Baskerville', serif;
$font_family_3: 'Lora', serif;
$font_family_4: "Helvetica";
$font_family_5: 'Playfair Display SC', serif;
$font_family_6: 'Noto Sans KR', sans-serif;
$font_family_7: "Athelas";
$background_color_1: #ffffff;
$background_color_2: #103d4c;
$background_color_3: rgba(100,80,75, 0.7);