@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_res\.scss}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\000032}}
header a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color: #d7794a;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.63px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000313}}
.root__menu_top a {
  font-size: 2vw;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000322}}
  .root__menu_top a:hover {
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000328}}
.slider__text_top h1 {
  font-size: 4.9vw;
  line-height: 30px;
  color: #B40404;
  font-weight: initial;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1.8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000336}}
.slider__text_top h2 {
  color: #d7794a;
  font-weight: initial;
  font-family: "Lora", serif;
  font-size: 3.9vw;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000346}}
.team__title {
  text-align: center;
  color: #a95e39;
  font-family: "Lora", serif;
  font-size: 40px;
  line-height: 25.46px;
  text-transform: uppercase;
  letter-spacing: 1.8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000355}}
.team__description {
  text-align: center;
  font-family: "Helvetica";
  font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000360}}
.item__title {
  text-align: center;
  font-family: "Helvetica";
  font-size: 2.8vw;
  line-height: 25.46px;
  letter-spacing: 0.9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000367}}
.item__desc {
  text-align: center;
  font-family: "Helvetica";
  font-size: 2vw;
  line-height: 30px;
  letter-spacing: 0.1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000375}}
.menu__itemm p {
  color: #d2d3d7;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5vw;
  line-height: 20.82px;
  letter-spacing: 0.6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000382}}
.menu__itemm a {
  font-weight: bold;
  text-decoration: none;
  color: #d2d3d7;
  font-family: "PT Sans", sans-serif;
  font-size: 1.2vw;
  line-height: 20.82px;
  letter-spacing: 0.6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000390}}
  .menu__itemm a:hover {
    color: #F7FE2E; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\0000395}}
.copyright__text {
  text-align: center;
  color: #E0F8E6;
  font-size: 1.2vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003100}}
.counter__digits {
  text-align: center;
  color: #9a5437;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 55px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003107}}
.counter__text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003115}}
.contact__us {
  font-size: 5vw;
  text-transform: uppercase;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 1.2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003123}}
.contact__us_description {
  font-size: 1.8vw;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  color: #999797;
  letter-spacing: 0.5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003131}}
.input input {
  color: #999797; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003135}}
.input__group {
  width: 48%;
  border-bottom: 1px solid #999797; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003139}}
textarea {
  color: #999797; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003142}}
select {
  color: #999797; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003146}}
.button button {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003151}}
.about__block h2 {
  text-align: center;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003156}}
.about__description {
  text-align: center;
  font-size: 2vw;
  line-height: 30px;
  letter-spacing: 0.5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003162}}
.item__des {
  text-align: center;
  font-size: 1.4vw;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003169}}
.galery__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Athelas";
  color: #a95e39;
  font-size: 50px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1.8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_fonts\.scss}line{font-family:\00003179}}
.galery__desc {
  text-align: center;
  font-size: 1.8vw;
  letter-spacing: 0.8px;
  line-height: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\000031}}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000312}}
.wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000318}}
footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000324}}
header {
  min-height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000326}}
  header a {
    width: 239px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000330}}
.logotyp {
  display: block;
  padding: 30px 0 30px 50px;
  background-color: #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000335}}
.root__slider {
  width: 100%;
  height: 500px;
  background-image: url(../img/image.jpg);
  background-size: cover;
  background-position: center;
  background-color: #103d4c; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000343}}
.root__menu_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: rgba(71, 74, 81, 0.5);
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000349}}
.home {
  margin-left: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000352}}
.menu__item {
  padding: 15px 15px;
  display: inline-block;
  height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000356}}
  .menu__item:hover {
    background-color: rgba(100, 80, 75, 0.7); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000360}}
.contacts {
  padding: 15px 15px 15px 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000363}}
.slider__text_top {
  position: absolute;
  top: 450px;
  right: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000364}}
  .slider__text_top h2 {
    margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000371}}
.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1542px;
  width: 100%;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000381}}
.team__title {
  margin: 125px 0 30px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000384}}
.border__top {
  border-bottom: 2px solid #a95e39;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000388}}
.team__description {
  padding: 30px 180px 50px 180px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000391}}
.team__items-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  margin-top: 55px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\0000398}}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003102}}
.item__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003106}}
  .item__img img {
    width: 20vw;
    height: 25vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003111}}
.item__title {
  margin: 30px 0 40px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003114}}
.item__desc {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  height: auto;
  width: 25vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003120}}
.line__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 136px;
  padding-top: 10px;
  background: #0B3B2E;
  position: relative;
  bottom: 0;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003131}}
.menu__itemm {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003137}}
  .menu__itemm p {
    border-bottom: 0.7px solid #d5dddf; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003141}}
  .menu__itemm:nth-child(5) li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003146}}
.line__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  height: 59px;
  background: #071910; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003153}}
.copyright__social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003159}}
.copyright__text {
  text-align: center;
  padding: 15px 15px;
  color: #E0F8E6;
  font-size: 1.2vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003165}}
.sprite {
  background-image: url(../font/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003170}}
.sprite-adress {
  width: 25px;
  height: 25px;
  background-position: -5px -5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003175}}
.sprite-facebook {
  width: 50px;
  height: 50px;
  background-position: -5px -40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003180}}
.sprite-google {
  width: 50px;
  height: 50px;
  background-position: -5px -100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003185}}
.sprite-instagram {
  width: 50px;
  height: 50px;
  background-position: -5px -160px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003190}}
.sprite-twitter {
  width: 50px;
  height: 50px;
  background-position: -5px -220px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003195}}
.sprite-mobil {
  width: 25px;
  height: 25px;
  background-position: -5px -280px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003200}}
.root__counter {
  position: relative;
  margin-top: 150px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003204}}
.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 39, 43, 0.9)), to(rgba(3, 39, 43, 0.9))), url("../img/backgraund.jpg");
  background: linear-gradient(rgba(3, 39, 43, 0.9), rgba(3, 39, 43, 0.9)), url("../img/backgraund.jpg");
  background-size: cover;
  background-position: center;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003215}}
.counter__digits {
  padding: 0 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003218}}
.counter__text {
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003221}}
.root__img {
  background: url(../img/office.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003228}}
.form {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 39, 43, 0.9)), to(rgba(3, 39, 43, 0.9))), url("../img/form.jpg");
  background: linear-gradient(rgba(3, 39, 43, 0.9), rgba(3, 39, 43, 0.9)), url("../img/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003237}}
.contact__box {
  margin: 0;
  padding: 160px 0 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003241}}
.contact__us_description {
  padding: 10px 10em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003244}}
.contact {
  height: 60vh;
  margin-top: 35px;
  text-align: center;
  padding: 0px 10em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003250}}
.input {
  border-bottom: 1px solid #999797;
  height: 30px;
  margin: 30px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003254}}
  .input input {
    border: none;
    width: 100%;
    height: 100%;
    background: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003260}}
  .input:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003266}}
  .input:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003272}}
  .input:nth-child(4) {
    height: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003276}}
.input__group {
  width: 48%;
  border-bottom: 1px solid #999797; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003280}}
textarea {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003286}}
select {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003292}}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 0px;
  height: 100%;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003298}}
  .button button {
    height: 30px;
    width: 10vw;
    background: #9a5437;
    border: 1px solid #B43104; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003305}}
.abouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003310}}
.about__img img {
  margin-left: 15px;
  width: 50vw;
  height: 71vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003316}}
.about__block {
  margin: 15px 15px;
  background: #E6E6E6; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003319}}
  .about__block h2 {
    margin-top: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003323}}
.about__description {
  margin: 10px 40px 30px 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003326}}
.about__items-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003331}}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003332}}
  .about__item img {
    width: 11vw;
    height: 11vw;
    border-radius: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003343}}
.border {
  position: relative;
  border: 0.4px solid black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 12.5px;
  width: 36.2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003352}}
.item__des {
  border: 1px solid black;
  margin-top: 30px;
  height: 3vw;
  width: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003361}}
.galery__title {
  margin-top: 300px;
  margin-bottom: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003365}}
.galery__desc {
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003371}}
.hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003375}}
.slider__item {
  height: 60vh;
  width: 35vw;
  border: 0.5px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003379}}
  .slider__item img {
    width: 100%;
    height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003384}}
.slider__button {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: grey;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d6d6d6; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003393}}
.slider__left_botton {
  margin-right: 10px;
  margin-left: 80vw;
  margin-top: 7px;
  width: 30px;
  height: 30px;
  border: 2px solid #a95e39;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003405}}
.slider__right_botton {
  margin-left: 10px;
  margin-top: 7px;
  width: 30px;
  height: 30px;
  border: 2px solid #a95e39;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003416}}
.button__slider_center_r {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #a95e39; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_main\.scss}line{font-family:\00003423}}
.button__slider_center_l {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #a95e39; }
@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\000033}}
  li a {
    font-size: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\000037}}
  .menu__item {
    padding: 10px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000310}}
  .team__title {
    margin-bottom: 20px;
    font-size: 22px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000314}}
  .team__description {
    font-size: 19px;
    padding: 50px 100px 0 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000318}}
  .border__top {
    width: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000321}}
  .team__items-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000328}}
  .item__img img {
    width: 35vw;
    height: 35vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000333}}
  .item__title {
    font-size: 4vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000336}}
  .item__desc {
    font-size: 3vw;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center;
    width: 425px;
    line-height: 25.46px;
    letter-spacing: 0.6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000344}}
  .contact__box {
    padding: 100px 0 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000347}}
  .contact__us_description {
    font-size: 2.5vw;
    padding: 10px 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000351}}
  .contact {
    height: 42vh;
    margin-top: 35px;
    text-align: center;
    padding: 0px 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000358}}
  .button button {
    height: 40px;
    width: 20vw;
    background: #9a5437;
    border: 1px solid #B43104;
    color: white;
    font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000367}}
  .input {
    height: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000370}}
  .abouts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000376}}
  .about__img img {
    width: 100%;
    margin: 0;
    height: 50vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000382}}
  .about__items-block {
    height: 30vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000385}}
  .about__title {
    font-size: 35px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000388}}
  .about__description {
    font-size: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000391}}
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\0000392}}
    .about__item img {
      width: 21vw;
      height: 21vw;
      border-radius: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003103}}
  .border {
    position: relative;
    border: 0.4px solid black;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 12.5px;
    width: 36.2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003112}}
  .item__des {
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
    height: 5vw;
    width: 22vw;
    font-size: 2.4vw;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003126}}
  .galery__title {
    margin-top: 100px;
    margin-bottom: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003130}}
  .galery__desc {
    font-size: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003133}}
  .galery__slider {
    slidetoshow: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003136}}
  .slider__item {
    height: 80vh;
    width: 45vw;
    border: 0.5px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003140}}
    .slider__item img {
      width: 100%;
      height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003145}}
  .line__menu {
    height: 15vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003149}}
  .menu__itemm a {
    font-size: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003152}}
  .menu__itemm p {
    font-size: 18px;
    border-bottom: 0.5px solid #d5dddf; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003157}}
  .copyright__text {
    font-size: 12px;
    padding: 20px 200px 0px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003161}}
  .line__copyright {
    height: 50px; } }
@media (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003166}}
  header {
    min-height: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003169}}
  .logotyp {
    font-size: 17px;
    padding: 15px 0 15px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003173}}
  .root__menu_top {
    height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003176}}
    .root__menu_top li a {
      font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003182}}
  .menu__item a {
    line-height: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003186}}
  .root__slider {
    height: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003189}}
  .home {
    margin-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003192}}
  .slider__text_top {
    top: 280px;
    right: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003195}}
    .slider__text_top h1 {
      font-size: 28px;
      line-height: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003199}}
    .slider__text_top h2 {
      font-size: 20px;
      line-height: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003204}}
  .team__title {
    margin: 50px 0 15px 0;
    font-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003208}}
  .team__description {
    font-size: 19px;
    padding: 20px 20px 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003212}}
  .team__items-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003217}}
  .item__img img {
    width: 180px;
    height: 230px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003222}}
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003226}}
  .item__title {
    font-size: 23px;
    padding: 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003230}}
  .item__desc {
    font-size: 16px;
    height: auto;
    margin-top: -20px;
    -ms-flex-item-align: center;
        align-self: center;
    width: 425px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003237}}
  .counter {
    height: 250px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003240}}
  .root__img {
    height: 350px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003243}}
  .contact {
    height: 410px;
    padding: 0px 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003247}}
  .contact__box {
    padding: 50px 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003250}}
  .button {
    margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003254}}
  .about__img img {
    height: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003258}}
  .about__block {
    height: 500px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003261}}
  .galery__title {
    font-size: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003264}}
  .galery__desc {
    font-size: 20px;
    padding: 0 0;
    margin: 0 25px 30px 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003269}}
  .line__menu {
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003273}}
  .menu__itemm a {
    font-size: 9px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003276}}
  .menu__itemm p {
    font-size: 13px;
    border-bottom: 0.5px solid #d5dddf; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003281}}
  .copyright__text {
    font-size: 11px;
    padding: 20px 200px 0px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003285}}
  .line__copyright {
    height: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003289}}
  .copyright__social img {
    padding: 10px 10px;
    height: 25px;
    width: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003295}}
  .slider__right_botton {
    margin-left: 16px;
    margin-top: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003299}}
  .slider__left_botton {
    margin-left: 450px;
    margin-top: 7px;
    margin-right: 10px; } }
@media (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003306}}
  header {
    min-height: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003309}}
  .logotyp {
    font-size: 12px;
    padding: 15px 0 15px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003313}}
  .root__menu_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003317}}
    .root__menu_top li a {
      font-size: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003322}}
  .root__slider {
    position: relative;
    min-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003325}}
    .root__slider ul {
      width: 50px;
      padding: 0 0;
      position: absolute;
      top: 0;
      height: 40px;
      left: 0;
      background: rgba(71, 74, 81, 0.5) url(../font/menu.png) no-repeat 10px 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003333}}
      .root__slider ul:hover {
        background-image: none;
        background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003336}}
        .root__slider ul:hover li {
          width: 150px;
          display: block;
          margin: 0 0;
          background: rgba(71, 74, 81, 0.5);
          padding: 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003345}}
    .root__slider a {
      display: block;
      padding: 5px 5px 5px 32px;
      text-align: left;
      background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003351}}
    .root__slider li {
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003356}}
  .menu__item:hover {
    background-color: rgba(100, 80, 75, 0.7); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003361}}
  .root__slider.right ul {
    left: auto;
    right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003367}}
  .root__slider.center ul {
    left: 50%;
    margin-left: -90px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003372}}
  .slider__text_top {
    top: 220px;
    right: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003375}}
    .slider__text_top h1 {
      font-size: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003378}}
    .slider__text_top h2 {
      font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003382}}
  .team__items-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003386}}
  .team__title {
    margin: 50px 0 15px 0;
    font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003390}}
  .border__top {
    margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003393}}
  .team__description {
    font-size: 17px;
    padding: 0 20px 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003398}}
  .item__img img {
    width: 150px;
    height: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003403}}
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003407}}
  .item__title {
    font-size: 18px;
    padding: 5px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003411}}
  .item__desc {
    font-size: 12px;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center;
    width: 225px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003417}}
  .counter {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003423}}
  .root__img {
    height: 250px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003426}}
  .about__block {
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003429}}
  .about__title {
    font-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003432}}
  .about__description {
    font-size: 13px;
    line-height: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003437}}
  .button button {
    font-size: 13px;
    height: 23px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003443}}
  .about__img img {
    height: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003447}}
  .galery__title {
    font-size: 30px;
    margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003451}}
  .galery__desc {
    font-size: 14px;
    line-height: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003456}}
  .galery__slider img {
    height: 450px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003460}}
  .line__menu {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003466}}
  .menu__itemm a {
    font-size: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003469}}
  .menu__itemm p {
    font-size: 18px;
    border-bottom: 0.4px solid #d5dddf; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003474}}
  .copyright__text {
    font-size: 9px;
    padding: 10px 200px 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003478}}
  .line__copyright {
    height: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003482}}
  .copyright__social img {
    padding: 10px 10px;
    height: 20px;
    width: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003489}}
  .slider__left_botton {
    margin-left: 100px;
    margin-top: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/style\/lab5\/styl\/_media\.scss}line{font-family:\00003493}}
  .slider__right_botton {
    margin-left: 5px;
    margin-top: 7px; } }

/*# sourceMappingURL=style.css.map */